body, html {/*universal*/
	height: 100%;
	margin: 0;
	font: 15px/1.8 sans-serif;
	color: white;
}

a { /*link styling*/
	text-decoration: none;
    color: black;
}

a:visited { /*visited link styling*/
	color: gray;
}

a:hover { /*hover link styling*/
	text-decoration: underline
}

input[type=text] { /*text inputs (search box)*/
    width: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=image]  {/*image inputs (search button)*/
	float: right;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	padding: 7px 10px;
	background: white;
	font-size: 16px;
	cursor: pointer;
	width: 46px;
	height: 46px;
}

input[type=text]:focus { /*expand search box on focus*/
    width: 50%;
}

.ui-autocomplete { /*autocomplete dropdown*/
    max-height: 200px;
	max-width: 247px;
    overflow-y: auto;
    /*prevent horizontal scrollbar*/
    overflow-x: hidden;
  }
  
* html .ui-autocomplete {/*for explorer*/
	height: 200px;
}
  
.ui-autocomplete::-webkit-scrollbar /*prevent vertical scrollbar*/
{
	width: 0 !important
}

.ui-menu-item { /*autocomplete individual row*/
	color: black;
	list-style-type: none;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-repeat: no-repeat;
	cursor: pointer;
}
.ui-menu-item:hover { /*autocomplete row hovering*/
	background-color: #ddd;
}

.tableRow { /*view all table row*/
	color: black;
	border-radius: 4px;
	background-color: white;
	cursor: pointer;
}
.tableRow:hover { /*view all table row hover*/
	background-color: #ddd;
}

.bgimg{ /*main background image*/
	position: relative;
	opacity: 0.70;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 50%;
}
.name { /*main title*/
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}

.name span.border { /*border for main title*/
	background-color: black;
	color: white;
	padding: 15px;
	font-size: 40px;
	letter-spacing: 7px;
}
.headerLeft { /*left header (header logo container)*/
	padding: 25px;
	text-alaign: left;
	display: inline;
}

.headerRight { /*right header (nav bar container)*/
	padding: 50px;
	float: right;
	text-alaign: right;
	display: inline;
}

.logo { /*main logo*/
	background-color: black;
	color: #FF6A00;
	border-radius: 100%;
	padding: 10px;
	max-width: 10%;
	min-width: 75px;
	height: auto;
}

.headerLogo { /*top-left header logo*/
	padding: 10px;
	max-width: 10%;
	min-width: 75px;
	height: auto;
}

.navBar { /*navigation*/
    overflow: hidden;
}

.navBar a { /*navigation bar link styling*/
	text-transform: uppercase;
	text-decoration: none;
	color:white;
    padding: 10px;
    font-size: 20px;
    transition: .5s;
	font-weight: bold;
	background-color: black;
	cursor: pointer;
}

.navBar a:hover { /*navigation bar link hover*/
    color: white;
}

.indexPageContent { /*content container*/
	background-color: #f2f2f2;
	color: black;
	text-align: center;
	padding-left: 15%;
    padding-right: 15%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

.indexPageContent span.head { /*content container head*/
    font-size: 32px;
	display: block;
    padding-top: 50px;
}

.indexPageContent span.body { /*content container body*/
	text-align: left;
	font-size: 26px;
	display: block;
    padding-top: 15px;
	padding-bottom: 50px;
}

.indexPageContentAlt { /*alternate content container*/
	color: black;
	text-align: center;
	padding-left: 25%;
    padding-right: 25%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

.indexPageContentAlt span.head { /*alternate content container head*/
    font-size: 32px;
	display: block;
    padding-top: 50px;
}

.indexPageContentAlt span.body { /*alternate content container body*/
	text-align: left;
	font-size: 26px;
	display: block;
    padding-top: 15px;
	padding-bottom: 50px;
}
